.currenciesCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1%;
  justify-content: center;
  background-color: #216d73;
  border: #216d73;
}

.currencyCont {
  display: flex;
  flex-direction: column;
  width: 22%;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.imgCurrency {
  width: 50%;
  align-self: center;
}
