.currenciesCont{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1%;
  justify-content: center;
}

.currencyCont {
  display: flex;
  flex-direction: column;
  width: 22%;
  align-self: center;
  justify-content: center;
}

.imgCurrency {
  width: 50%;
  align-self: center;
}